.menu_text_bar{
    list-style: none;
    width: 40em;
    margin: auto;
}

.menu_text{
    font-family: Hero, sans-serif, monospace;
    font-size: 55px;
    display: inline;
    margin-right: 50px;
}

.menu_text:last-child{
    margin-right: 0px;
}

.menu_text:active{
    transform: scale(.8, .8);
    -webkit-transform-origin: center center;
    transition: .4s;
    font-size: 3em;
    font-family: sans-serif;
    color: darkred;
    transition: .4s;
}

.menu_text:active{
    font: 300 70px sans-serif;
}

.menu{
    display: none;
    width: 38em;
    background-color: black;
    position: relative;
    z-index: 5;
    padding-bottom: .5em;
    margin: auto;
    /*display: none;*/
}

#menu_wrapper{
    overflow: auto;
    z-index: 6;
    float: right;
    margin-top: 5.9em;
    height: 58.0em;
}

/*.menu_text div{
    width: 2em;
    height: 2em;
}*/

.buttons{
    background-color: skyblue;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
    /*background-image:url(../images/svg/0010-blog.svg);
    background-repeat: no-repeat;
    background-size:  4.5em 4.5em;
    background-position: center;*/
}

img{
    width: 60%;
    height: 60%;
    display: block;
    margin: auto;
    margin-top: 20%;
}

.buttons:hover{
    transform: scale(.8, .8);
    -webkit-transform-origin: center center;
    transition: .4s;
}

.menu ul li a{
    display: inline-block;
    margin-right: 2em;
    margin-top: 2em;
    
}

.menu ul li{
   display: inline-block;  
}

.menu ul{
    margin: auto;
    width: 35.5em;
}


.current_nav_activated{
    height: 16em;
    margin-top: 2em;
    background-color: darkslategrey;
}

header{
    width: 100%;
    height: 10em;
    background-color: black;
    box-shadow: 1px 0 13px rgb(0, 0, 0);
    /*position: fixed;*/
}

#user-picture{
    width: 7em;
    height: 7em;
    background-image: url(../images/user.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: darkred;
    border-radius: 50%;
    margin-left: 2em; 
}

#user-picture:hover{
    width: 6em;
    height: 6em;
    transition: .4s;
} 

#user-picture-ancor{
    display: block;
    width: 10em;
}


#user-info{
    margin-top: -10em;
    margin-left: 7em;
    width: 30em;
    height: 7.3em;
}

#user p{
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 1.1em;
    color: darkred;
    width: 24em;
    margin-top: 5.6em;
    margin-left: 2em;
}

#username{
    position: absolute;
    z-index: 4;
    width: 8em;
    font-size: 3em;
    margin-left: .8em;
}

#username:hover{
    font-size: 4em;
    transition: .4s;
} 

#user{
    margin-top: 0em;
    padding-top: 2em;
    height: 9em;
    
}

#user ul{
    position: absolute;
    z-index: 3;
    width: 27em;
    margin-top: 7.3em;
    
}

#user ul li{
    list-style: none;
    display: inline;
    margin-right: 0.5em;
    color: gray;
    font-family: hero, sans-serif, monospace;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

h1{
    font-family: Pacifico, sans-serif, monospace;
    color: white;
    font-size: 4em;
    margin-bottom: 0px;
    text-align: center;
    width: 260px;
}

#logo{
    color: white;
    width: 30em;
    margin: auto;
}

#car{
    font-size: 5.7em;
    position: absolute;
    z-index: 4;
    margin-bottom: 5em;
    margin-top: -.1em;
    width: 5em;
    margin: auto;
}

#car:hover{
    font-size: 7em;
    transition: .4s;
} 


#cour{
    position: absolute;
    z-index: 2;
    
    color: dimgray;
    font-family: Hero, sans-serif, monospace;
    font-size: 2em;
    
    margin-left: 6em;
    margin-top: 3.6em;
    text-align: center;
    width: 140px;
}

.current_nav_activated div{
    width: 36em;
    height: 9em;
    
    background-color: rgba(0, 0, 0, 0.44);
    position: absolute;
    
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    margin-top: 4.4em;
    
    padding: .5em;
    
}

.current_nav_activated p{
    width: 608.9px;
    word-wrap: break-word;
    height: 4em;
    margin-top: 0;
}

.current_nav_activated h1{
    width: 3em;
    height: 1.4em;
    margin: auto;
    margin-top: -.27em;
    position: absolute;
}

footer{
    background-color: black;
    height: 3.7em;
    width: 100%;
    margin-top: 1.76em;
}

#foot-content{
    list-style: none;
    width: 20em;
    margin: auto;
}

.foot-content{
    display: inline;
    margin-right: 1em;
}

.foot-content:hover{
    font-size: 1.2em;
    transition: .4s;
    text-decoration: underline;
} 

#copyright{
    color: slategray;
    width: 13em;
    position: absolute;
    margin-left: 44%;
    margin-top: 1em;
}

#wrap-body-content{
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}



