body{
    background-image: url(../images/IncDrop2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}


#user_content{
    width: 56%;
    height: 100%;
    margin: auto;
    background-color: rgba(42, 28, 28, 0.9);
    box-shadow: 1px 0 13px rgb(0, 0, 0);
}

.post{
    border-radius: .2em;
    width: 90%;
    height: 10em;
    margin: auto;
    margin: 2em;
    background-color: rgba(16, 32, 41, 0.6);
    box-shadow: 1px 0 13px rgb(0, 0, 0);
}

.poster{
    display: none;
    border-radius: 5em;
    width: 90%;
    height: 10em;
    margin: auto;
    margin: 2em;
    background-color: rgba(92, 102, 108, 0.6);
    box-shadow: 1px 0 13px rgb(0, 0, 0);
}

.post-btn{
    border-radius: 5em;
    width: 20%;
    height: 3em;
    margin: auto;
    margin-top: 2em;
    background-color: rgba(0, 118, 255, 0.71);
}

#poster{
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin: auto;
    margin-bottom: -.5em;
    background-color: rgba(255, 255, 255, 0.6);
    padding: .2em;
    cursor: pointer;

    box-shadow: 1px 0 13px rgb(0, 0, 0);
}

#poster:hover{
    transform: scale(1.8, 1.8); 
    transition: .4s;
}

#first-cross{
    width: .2em;
    height: 1.8em;
    background-color: rgb(0, 0, 0);
    margin: auto;
    
}

#sec-cross{
    width: 1.8em;
    height: .2em;
    background-color: rgb(0, 0, 0);
    margin: auto;
    position: absolute;
    margin-top: -.95em;
    margin-left: .1em;
}

h1{
    margin: auto;
    
}

#user-tabs{
    width: 40em;
    padding: 0;
    margin-bottom: -2em;
    margin-top: 2em;
    margin-left: 1.2%;
}

#user-tabs > li{
    display: inline-block;
    margin-right:  1%;
    margin-left: 3%;
    font-size: 2em;
    color: white;
    cursor: pointer;
}

#user-tabs li div{
    margin: auto;
    background-color: black;
    padding: .3em;
}

#user-tabs .selected{
    box-shadow: 1px 0 13px rgb(0, 0, 0);
    transition: .4s;
    background-color: rgba(16, 32, 41, 0.6);
}

.banner{
    background-image: url(../images/Dollarphotoclub_53711435.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-color: rgb(147, 147, 147);
    height: 15em;
    box-shadow: 1px -40px 150px rgb(0, 0, 0) inset;
    box-shadow: 1px 0 13px rgb(0, 0, 0);
}

#verticalL{
    width: 20%;
    height: 50em;
    position: absolute;
    z-index: 4;
    background-color: rgb(147, 147, 147);
    box-shadow: 1px 0 13px rgb(0, 0, 0);
}

#verticalR{
    background-image: url(../images/10696232_905454126151124_2330007230500650736_n.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    height: 50em;
    margin-left: 80%;
    position: absolute;
    z-index: 4;
    background-color: rgb(147, 147, 147);
    box-shadow: 1px 0 13px rgb(0, 0, 0);
}

#user-tabs > li{
    
}

.small-ver{
    width: em;
    margin-bottom: -2.3em;
    display: none;
}

.small-ver ul{
    margin-left: 2em;
    width: 15em;
    padding: 0;
}

.small-ver li{
    margin-right: 1em;
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
}

.small-ver li:hover{
    transform: scale(1.8, 1.8); 
    transform-origin: bottom left;
    transition: .4s;
}

.left-margin{
    width: 28%;
    height: 100%;
    background-color: white;
    box-shadow: 1px 0 13px rgb(0, 0, 0);
}

.user-picture{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-image: url(../images/user.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    margin-top: 50px;
    margin-left: 30px;
    box-shadow: 1px 0 13px rgb(0, 0, 0);
    
}

#inject h1{
    font-size: 2em;
    width: ;
    margin: 0;
    color: black;
    cursor: pointer;
    box-shadow: 1px 0 13px rgb(0, 0, 0);
    margin: auto;
}

#inject h1:hover{
    transform: scale(.8, .8);
    color: #ffffff;
    box-shadow: 1px 0 13px rgb(0, 0, 0);
    transition: .4s;
}

.hidden{
    display: none;
}


